services:
  postgres:
    image: postgres:15-alpine
    container_name: inventory_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: inventory_db
    ports:
      - "5433:5432"
